%ul
  -(confessions).each do |confession|
    %li.confession
      %p
        confession:
        =confession.id
        on
        =confession.date
      %p
        %audio{:src=>"#{confession.s3url}",:controls=>"controls"}
          %a{:href=>"#{confession.s3url}"}
            =confession.id
      %p
      %form{:action=>url("/doom/#{confession.id}"),:method=>"POST"}
        %input{:type=>"submit",:value=>"Doom (#{confession.dooms})"}
      %form{:action=>url("/forgive/#{confession.id}"),:method=>"POST"}
        %input{:type=>"submit",:value=>"Forgive (#{confession.forgives})"}

